
{% extends 'base.html' %}
{% load staticfiles  %}
{% block content %}
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">

                        <img src="{{ image_item.image.url }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Цена: {{ product.price }} $
                    </p>
                </div>
                <div>


                      <!-- Tab panes -->
                      <h4>
                      <div class="tab-content product-description-tabs">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            {{ product.description }}
                        </div>
                    </h4>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
