{% extends 'base.html' %}
{% load static from static %}

{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Более 15 лет опыта</div>
                <div class="intro-heading">Мы строим купола</div>
                <a href="#services" class="page-scroll btn btn-xl">Узнать больше</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наши услуги</h2>
                    <h3 class="section-subheading text-muted">Изготавливаем, делаем рассчеты, консультируем</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Изготовление куполов</h4>
                    <p class="text-muted">Изготавливаем купола любой сложности. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Расчеты</h4>
                    <p class="text-muted">Делаем все необходимые расчеты материалов.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>&gt;
                    </span>
                    <h4 class="service-heading">Консультации</h4>
                    <p class="text-muted">Предоставляем квалифицированные консультации</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">О НАС</h2>
                    <h3 class="section-subheading text-muted" align="left">
                    <li>Мы уже более пятнадцати лет изготавливаем и устанавливаем купола любой сложности.</li>
                    <ul></ul>
                    <li>Работаем как с деревянными, так и с полностью металлическими конструкциями.</li>
                    <ul></ul>
                    <li>Делаем все расчеты (материалы, работы и т.д.). </li>
                    <ul></ul>
                    <li>Проконсультируем по всем вопросам: изменение конструкции, формы куполов и крыш.</li>
                    <ul></ul>
                    <li>Гарантия качества.</li>
                    </h3>
            </div>
            </div>
        </div>
    </section>


    <div class="container">
			<div class="wrapper">

				<ul id="sb-slider" class="sb-slider">
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/1.jpg'%}" alt="Купола - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/2.jpg'%}" alt="Купола - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/3.jpg'%}" alt="Купола - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/4.jpg'%}" alt="Купола - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/5.jpg'%}" alt="Купола - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/6.jpg'%}" alt="Церковные купола - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="{% static 'images/7.jpg'%}" alt="Купола на церковь - Изготовление, расчеты, консультации"/></a>
						<div class="sb-description">
							<h3>Изготовление, расчеты, консультации</h3>
						</div>
					</li>
				</ul>

				<div id="shadow" class="shadow"></div>

				<div id="nav-arrows" class="nav-arrows">
					<a href="#">Next</a>
					<a href="#">Previous</a>
				</div>

			</div><!-- /wrapper -->


            </div>







    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">

        </div>
    </aside>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Связаться с нами</h2>
                    <h3 class="tw">Ответим на ваши вопросы и проконсультируем</h3>
                </div>
            </div>








                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>


                            <div class="person-contact">
                                <li>
                                <a href="mailto:kupolostroy@gmail.com" class="person-contact">E-mail: kupolostroy@gmail.com</a>
                                </li>
                                <li>
                                Tel.: 096-346-71-66;
                                063-811-59-17
                            </li>

                            </div>
                            </div>
                            </div>




    </section>



{% endblock %}
